.row.connect-with-socials
  .col-md-6
    = link_to omniauth_authorize_path(resource_name, :google_oauth2) do
      .well.well-sm
        = image_tag(image_url("google-icon"), class: "social-icon")
        %span.social-text
          = action 
          with Google+
  .col-md-6
    = link_to omniauth_authorize_path(resource_name, :facebook) do
      .well.well-sm
        = image_tag(image_url("facebook-icon"), class: "social-icon")
        %span.social-text
          = action 
          with Facebook