<h1>
  All Diaries
  <%= link_to "New Diary", new_diary_path, class: 'btn btn-success' %>
  <%= link_to "Test AJAX", '#', class: "btn btn-success", id: "test_ajax" %>
</h1>
  <% @diaries.each do |diary| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to diary.title, diary %>
       </h4>
       
       <div class="diary-detail">
         <p>
           <%= markdown_to_html diary.bodyOverView %>
         </p>
       </div>
       <small>
         <%= diary.created_at.to_date.to_formatted_s(:long_ordinal)%>
         <%= link_to "view_all", diary %>
       </small>
     </div>
   </div>
 <% end %>
 <%= will_paginate @diaries %>