<div class="album-background">
    <div class="text-center">
      <div class="headline">
        <h1 class="headline-title">Tired of Instant Sharing?</h1> 

      <p class="headline-subtitle">Spend some time, make an album for the one you care.</p>
      <a href="#" class="btn btn-lg btn-success">Learn More</a>
    </div>
    </div>
  </div> 

<div class="container">
  <div class="about-header">
    <h2 class="about-title">What's this All About？</h2>
    <h4 class="about-description">Basically,This is the website we hope you to spend some time,
      value the one you care about, putting effort on making them a physical photo album. This
    is all about:
    </h4>
  </div>
  <div class="row text-center about section">
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("album-photo-icon")) %>
      </div>
      <h2 class="about-feature">Old-Fashion photo album</h2>
      <p class="about-feature-description">No instant sharing, no showing off, no fancy stuff.</p>
    </div>
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("gift-icon"), class: "img-responsive") %>
      </div>
      <h2 class="about-feature">Best Gift to give away</h2>
      <p class="about-feature-description">Best Gift for Special day (Birthday, Valentine's Day, Anniversary)</p>
    </div>
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("love-letter-icon"), class: "img-responsive") %>
      </div>
      <h2 class="about-feature">Full of love and memories</h2>
      <p class="about-feature-description">Feel the love and memories along the way</p>
    </div>
  </div>
</div>

<div class="what-you-need">
  <div class="container">
    <div class="what-you-need-header">
      <h2 class="what-you-need-title"> What do you need?</h2>
    </div>
    
    <div class="row section">
      <div class="what-you-need-list">
        <div class="col-md-12">
          <div class="col-md-2 list-icon">
            <%= image_tag(image_url("home-icon")) %>
          </div>
          <div class="col-md-10">
            <h3 class="list-title"> Quiet Room </h3>
            <p class="list-description"> You will need quiet room so that you can focus on choosing your photos </p>
          </div>
          
        </div>
      </div>
      
      <div class="what-you-need-list">
        <div class="col-md-12">
          <div class="col-md-2 list-icon">
            <%= image_tag(image_url("time-icon")) %>
          </div>
          <div class="col-md-10">
            <h3 class="list-title"> Some Time </h3>
            <p class="list-description"> Always plan some time for the best you can make </p>
          </div>
          
        </div>
      </div>
      
      <div class="what-you-need-list">
        <div class="col-md-12">
          <div class="col-md-2 list-icon">
            <%= image_tag(image_url("images-icon")) %>
          </div>
          <div class="col-md-10">
            <h3 class="list-title"> Photos </h3>
            <p class="list-description"> Of course you need Photos, or what else can you put in to your album? </p>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="how-it-works-header">
    <h2 class="how-it-works-title"> How it Works? </h2>
    <p class="how-it-works-description"> Simple, just follow the below four steps: </p>
  </div>
  <div class="row how-it-works section">
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag(image_url("user-group-icon")) %>
          <h2 class="step-text">Step1</h2>
        </div>
        <div class="col-md-9">
          <h3 class="step-title">Register or Login</h3>
          <p class="step-description">you will need an account to begin and save your work.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag(image_url("album-step-icon")) %>
          <h2 class="step-text">Step2</h2>
        </div>
        <div class="col-md-9">
          <h3 class="step-title">Choose an Album to Start</h3>
          <p class="step-description">you can choose different albums based on your need, all the albums are available online.</p>
        </div>
      </div>        
    </div>
       
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag(image_url("upload-icon")) %>
          <h2 class="step-text">Step3</h2>
        </div>
        <div class="col-md-9">
          <h3 class="step-title">Upload and place photos to album</h3>
          <p class="step-description">Upload photos and drag them to the album, just like the way real photo album wroks.</p>
        </div>
      </div>        
    </div>
    
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag(image_url("order-form")) %>
          <h2 class="step-text">Step4</h2>
        </div>
        <div class="col-md-9">
          <h3 class="step-title">Submit your order or Keep it as reference</h3>
          <p class="step-description">After completing your album, you can either keep it as refrence and build the actual album yourself
           or you can submit your order to us, and we will help you build the exact same album you have created.</p>
        </div>
      </div>        
    </div>
    
  </div>
</div>

<div class="footer">
  <p class="text-center footer-text">Copyright SecrectAlbum, Contact me at: ruiquanwu@gmail.com </p>
</div>