.album-background
  .text-center
    .headline
      %h1.headline-title Tired of Instant Sharing?
      %p.headline-subtitle Spend some time, make an album for the one you care.
      = link_to "Learn More", learn_more_path, class: 'btn btn-lg btn-success'
.container.narrow
  .about-header
    %h2.about-title What's this All About？
    %h4.about-description
      %p
        The idea of building this site comes from my own experience for making photo album. There is no easy way to make an old-fashioned photo album in current market. You have to order an album, and print out photos, and then place photos to your album.
      %p Wouldn't be nice if you can order an album and print out the photos and assemble them all in one place? With that you can focus on selecting the photos and place them nicely in the album.
  .why-so-secret.headline-title 
    %h2 Why secret?
    .well
      %h4 Because only you can view your own album, and it doesn't exist until you finished it.
  %h3.about-title.about-feature This is all about:
  .row.text-center.about.section
    .col-md-4
      .about-icon
        = image_tag(image_url("album-photo-icon.png"))
      %h2.about-feature Old-Fashioned photo album
      %p.about-feature-description Old fashioned photo is alway sweet and warm. No instant sharing, no showing off, no fancy stuff.
    .col-md-4
      .about-icon
        = image_tag(image_url("gift-icon.png"), class: "img-responsive")
      %h2.about-feature Priceless Gift to give away
      %p.about-feature-description Best Gift for Special day (Birthday, Valentine's Day, Anniversary)
    .col-md-4
      .about-icon
        = image_tag(image_url("love-letter-icon.png"), class: "img-responsive")
      %h2.about-feature Full of love and memories
      %p.about-feature-description Feel the love and memories along the way
.what-you-need
  .container.narrow
    .what-you-need-header
      %h2.what-you-need-title What do you need?
    .row.section
      .what-you-need-list
        .col-md-12
          .col-md-2.list-icon
            = image_tag(image_url("device.jpg"))
          .col-md-10
            %h3.list-title A Device
            %p.list-description You will need a device(computer or phone) to use this site and create your own album
      .what-you-need-list
        .col-md-12
          .col-md-2.list-icon
            = image_tag(image_url("time-icon.png"))
          .col-md-10
            %h3.list-title Time
            %p.list-description Select an album style, Select photos, Select the way photos display, it will take time if you want to make a better album
      .what-you-need-list
        .col-md-12
          .col-md-2.list-icon
            = image_tag(image_url("images-icon.png"))
          .col-md-10
            %h3.list-title Photos
            %p.list-description Of course you need Photos, or what else can you put in to your album?
.container.narrow
  .how-it-works-header
    %h2.how-it-works-title How it Works?
    %p.how-it-works-description Simple, just follow the below four steps:
  .row.how-it-works.section
    .col-md-12
      .how-it-works-step
        .col-md-3.step-icon
          = image_tag(image_url("user-group-icon.png"))
          %h2.step-text Step1
        .col-md-9
          %h3.step-title Register or Login
          %p.step-description you will need an account to begin and save your work.
    .col-md-12
      .how-it-works-step
        .col-md-3.step-icon
          = image_tag(image_url("album-step-icon.jpg"))
          %h2.step-text Step2
        .col-md-9
          %h3.step-title Choose an Album to Start
          %p.step-description you can choose different albums based on your need, all the albums are available online.
    .col-md-12
      .how-it-works-step
        .col-md-3.step-icon
          = image_tag(image_url("upload-icon.png"))
          %h2.step-text Step3
        .col-md-9
          %h3.step-title Upload and place photos to album
          %p.step-description Upload photos, and use drag and drop method to place them into album, just like the way physical photo album wroks.
    .col-md-12
      .how-it-works-step
        .col-md-3.step-icon
          = image_tag(image_url("order-form.jpg"))
          %h2.step-text Step4
        .col-md-9
          %h3.step-title Submit your order or Build it by yourself
          %p.step-description
            After completing your album, you can either keep it as reference and build the physical album yourself
            or you can submit your order to us, and we will help you to build the exact same album as you have created.
