<div class="row">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <div class="headline">
        <h1>Tired of Instant Sharing?</h1> 
      </div>
      <p class="subtitle">Spend some time, make an album for the one you care.</p>
      <a href="#" class="btn btn-lg btn-success">Learn More</a>
    </div>
  </div> 
</div>

<div class="container">
  <div class="about-header">
    <h2 class="about-title">What's this All About？</h2>
    <h4 class="about-description">Basically,This is the website we hope you to spend some time,
      value the one you care about, putting effort on making them a physical photo album. this
    is all about:
    </h4>
  </div>
  <div class="row text-center about section">
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("sign-ban-icon")) %>
      </div>
      <h2>Old-Fashion photo album</h2>
      <p>No instant sharing, no showing off, no fancy stuff.</p>
    </div>
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("sign-check-icon"), class: "img-responsive") %>
      </div>
      <h2>Best Gift to give away</h2>
      <p>Best Gift for Special day (Birthday, Valentine's Day, Anniversary)</p>
    </div>
    <div class="col-md-4">
      <div class="about-icon">
        <%= image_tag(image_url("sign-love-icon"), class: "img-responsive") %>
      </div>
      <h2>Full of love and memories</h2>
      <p>Feel the love and memories along the way</p>
    </div>
  </div>
</div>

<div class="container">
  <h2> How it Works? </h2>
  <p> Simple, just follow the below four steps </p>
  <div class="row how-it-works section">
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag("http://placehold.it/100x100") %>
          <h2 class="step-text">Step1</h2>
        </div>
        <div class="col-md-9">
          <h3>Register or Login</h3>
          <p>you will need an account to and save your work.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag("http://placehold.it/100x100") %>
          <h2 class="step-text">Step2</h2>
        </div>
        <div class="col-md-9">
          <h3>Choose an Album to Start</h3>
          <p>you can choose different albums based on your need, all the albums are available online.</p>
        </div>
      </div>        
    </div>
       
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag("http://placehold.it/100x100") %>
          <h2 class="step-text">Step3</h2>
        </div>
        <div class="col-md-9">
          <h3>Upload and place photos to album</h3>
          <p>Upload photos and drag them to the album, just like the way real photo album wroks.</p>
        </div>
      </div>        
    </div>
    
    <div class="col-md-12">
      <div class="how-it-works-step">
        <div class="col-md-3 step-icon">
          <%= image_tag("http://placehold.it/100x100") %>
          <h2 class="step-text">Step4</h2>
        </div>
        <div class="col-md-9">
          <h3>Submit your order or Keep it as refrence</h3>
          <p>After completing your album, you can either keep it as refrence and build the actual album yourself
           or you can submit your order to us, and we will help you build the exact same album you have created.</p>
        </div>
      </div>        
    </div>
    
  </div>
</div>

<div class="footer">
  <p class="text-center footer-text">this is footer!</p>
</div>