%table.table
  %th Item
  %th Qty.
  %th Price
  %th Total
  %tr.album_detail
    %td= @sample_album.name
    %td 1
    %td
      $#{@sample_album.price}
    %td
      $
      %span.item-total= @sample_album.price
  -if @album.front_cover
    %tr.front_cover
      %td Front Cover
      %td 1
      %td $#{@sample_picture.price}
      %td
        $
        %span.item-total= @sample_picture.price
  %tr.pictures_detail
    %td
      = @album.photo_size
      photos
    %td
      = @album.pictures.count
    %td
      $#{@sample_picture.price}
    %td
      $
      %span.item-total= @order.picture_total_price 
  - @order.options.each do |option|
    %tr.order-option
      %td
        = option
      %td 1
      %td
        $ #{ServiceLookup.PriceLookup(option)}
      %td
        $ #{ServiceLookup.PriceLookup(option)}
  %tr.order-shipping
    %td
      %span#display-shipment-name= @shipment.name
    %td 1
    %td
      $
      %span#display-shipment-price= @shipment.price
    %td
      $
      %span#display-shipment-total.item-total= @shipment.price
  %tr.checkout-total
    %td.text-red Grand Total:
    %td
    %td
    %td
      $
      %span.text-red= @order.total_price
