      <table class="table">
        <tr> <h2>Order Details: </h2> </tr>
        <th>Item</th>
        <th>Qty.</th>
        <th>Price</th>
        <th>Total</th>
        <tr class="album_detail">
          <td><%= @sample_album.name %></td>
          <td> 1 </td>
          <td> $<%= @sample_album.price %> </td>
          <td>$<span class="item-total"><%= @sample_album.price %></span></td>
        </tr>
        <tr class="pictures_detail">
          <td><%= @album.photo_size %> photos</td>
          <td><%= @album.photos_inserted.count %> </td>
          <td> $<%= @sample_picture.price %> </td>
          <td>$<span class="item-total"><%= @picture_total %></span></td>
        </tr>
        <% @order.options.each do |option|%>
        <tr class="order-option">
          <td><%= option %> </td>
          <td> 1 </td>
          <td>$ <%= ServiceLookup.PriceLookup(option) %> </td>
          <td>$ <%= ServiceLookup.PriceLookup(option) %> </td>
        </tr>
        <% end %>
        <tr class="order-shipping">
          <td><span id="display-shipment-name"><%= @shipment.name %></span></td>
          <td> 1 </td>
          <td>$<span id="display-shipment-price"><%= @shipment.price %></span></td>
          <td>$<span id="display-shipment-total" class="item-total"><%= @shipment.price %></span></td>
        </tr>
        <tr class="checkout-total">
          <td>Total Amount</td>
          <td></td>
          <td></td>
          <td>$<span><%= @order.total_price %></span></td>
        </tr>
      </table>