      <table class="table" id="display-order-detail">
        <tr> <h2>Order Details: </h2> </tr>
        <th>Item</th>
        <th>Qty.</th>
        <th>Price</th>
        <th>Total</th>
        <tr class="album_detail">
          <td><%= @sample_album.name %></td>
          <td> 1 </td>
          <td> $<%= @sample_album.price %> </td>
          <td>$<span class="item-total"><%= @sample_album.price.round(2) %></span></td>
        </tr>
        <tr class="pictures_detail">
          <td><%= @album.photo_size %> photos</td>
          <td><%= @album.photos_inserted.count %> </td>
          <td> $<%= @sample_picture.price %> </td>
          <td>$<span class="item-total"><%= @picture_total %></span></td>
        </tr>
        <tr class="order-shipping">
          <td><span id="display-shipment-name"><%= @standard_shipment.name %></span></td>
          <td></td>
          <td>$<span id="display-shipment-price"><%= @standard_shipment.price.round(2) %></span></td>
          <td>$<span id="display-shipment-total" class="item-total"><%= @standard_shipment.price.round(2) %></span></td>
        </tr>
        <tr class="net-total">
          <td></td>
          <td></td>
          <td></td>
          <td>$<span id="net-total"></span></td>
        </tr>
      </table>