      <div class="order-options">
        <h4> Select Options: </h4>
        <ul>
          <div class="checkbox">
            <% @options.each do |option|%>
            <div class="checkbox">
            <%= f.check_box :options, {:multiple => true}, option.name, nil %>
            <%= option.name %>
            </div>
            <% end %>            
          </div>
        </ul>
      </div>
      
      <div class="order-shippment">
        <h4>Select A Shipment Method:</h4>
        <ul>
          <% @shipments.each do |shipment| %>
          <div class="radio">
            <%= f.radio_button :shippment, shipment.name, data: {name: shipment.name, price: shipment.price} %>
            <%= shipment.name %> -- <%= shipment.price %>
          </div>
          
          <% end %>
        </ul>
      </div>
      
  
      