.container
  %h2 Checkout
  .col-md-12.order-detail
    .col-md-7
      = image_tag(@album.sample_album.avatar.url, class: "img-responsive")
    .col-md-5
      %h2 Order Details:
      .checkout-modify-links
        = link_to edit_order_path(@order), class: "btn btn-success" do
          %i.glyphicon.glyphicon-edit
          %span
            Edit 
        = link_to @order, class: "btn btn-danger", data: {confirm: "Are you sure to cancel this order?"}, method: :delete do
          %i.glyphicon.glyphicon-trash
          %span
            Cancel
      = render partial: "checkout_detail"
      .checkout-checkout
        .col-md-6.col-xs-6.row
          = form_tag stripe_payment_confirm_order_path(@order) do
            %script.stripe-button{"data-amount" => "#{@order.total_price * 100}", "data-description" => "order album", "data-email" => "#{current_user.email}", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", "data-billing-address" => "true", "data-shipping-address" => "true", "data-zip-code" => "true", :src => "https://checkout.stripe.com/checkout.js"}
            %span Or
        .col-md-6.col-xs-6
          = link_to @order.paypal_url(confirm_order_path(@order), paypal_payment_confirm_order_path(@order)) do
            =image_tag("https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-34px.png", alt: "PayPal")
