<div class="container">
  <h2> Checkout </h2>
  <div class="col-md-12 order-detail">
    <div class="col-md-7">
      <%= image_tag(@album.avatar.url) %>
    </div>
    
    <div class="col-md-5">
      <%= render partial: "checkout_detail" %>
      
      <div class="checkout-modify-links">
          <%= link_to "Edit Order", edit_order_path(@order), class: "btn btn-success" %>
          <%= link_to "Cancel Order", @order, class: "btn btn-danger", data: {confirm: "Are you sure to cancel this order?"}, method: :delete %>
      </div>
      
      <div class="checkout-checkout">
        
        <div class="row text-right">
        <%= form_tag confirm_order_path(@order) do %>        
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="order album"
          data-amount="<%= @order.total_price * 100%>"
          data-zip-code = true
          data-shipping-address = true
          data-email = "<%= current_user.email%>"
          data-locale="auto"></script>
        <% end %>
        </div>
    </div>
  </div>

  </div>
       
</div>
