.container
  %h1 Order Album
  .col-md-12.order-detail
    .col-md-7
      = image_tag(@album.sample_album.avatar.url, class: "img-responsive")
    .col-md-5
      = render partial: "order_detail"
      = form_for [@album, @order] do |f|
        = render partial: "order_option", locals:{f: f}
        .order-btns.text-right
          = button_tag type: "submit", class: "btn btn-success" do
            %i.glyphicon.glyphicon-credit-card
            %span
              Checkout
          = link_to @album, class:"btn btn-danger" do
            %i.glyphicon.glyphicon-trash
            %span
              Cancel
