.container
  %h1 Order Album
  .col-md-12.order-detail
    .col-md-7
      = image_tag(@album.sample_album.avatar.url, class: "img-responsive")
    .col-md-5
      = render partial: "order_detail"
      = form_for [@album, @order] do |f|
        = render partial: "order_option", locals:{f: f}
        .order-btns.text-right
          = f.submit "Checkout", class:"btn btn-success"
          = link_to "Cancel", @album, class:"btn btn-danger"
