<div class="container">
  <h1> Order Summary </h1>
  <div class="col-md-12 order-detail">
    <div class="col-md-7">
      <%= image_tag(@album.avatar.url) %>
    </div>
    
    <div class="col-md-5">
      <%= render partial: "order_detail" %>
      
      <%= form_for [@album, @order] do |f| %>
      
      <%= render partial: "order_option" %>
      
      <div class="order-btns text-right">
        <%= f.submit "Checkout", class:"btn btn-success" %>
        <%= link_to "Cancel", @album, class:"btn btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>

</div>