%table.table
  %tr.row-even
    %td.cell Orientation:
    %td#album-orientation.cell
      = @default_sample_album.orientation
  %tr.row-odd
    %td.cell Color:
    %td#album-color.cell
      = @default_sample_album.color
  %tr.row-even
    %td.cell Max Page:
    %td#album-max_page.cell
      = @default_sample_album.max_page
  %tr.row-odd
    %td.cell Photo Per Page:
    %td#album-photo_per_page.cell
      = @default_sample_album.photo_per_page
  %tr.row-even
    %td.cell Photo Size:
    %td#album-photo_size.cell
      = @default_sample_album.photo_size
  %tr.row-odd
    %td.cell Memo Field:
    %td#album-memo.cell
      = @default_sample_album.has_memo
  %tr.row-even
    %td.cell Number in Stock:
    %td#album-number_in_stock.cell
      = @default_sample_album.number_in_stock
  %tr.row-odd
    %td.cell Album Price:
    %td#album-price.cell
      = @default_sample_album.price
