 <table class="table">            
   <tr class="row-even">        
     <td class="cell"> Orientation: </td>           
     <td class="cell" id="album-orientation"><%= @default_sample_album.orientation %> </td>     
   </tr>                 
   
   <tr class="row-odd">
     <td class="cell"> Color: </td>         
     <td class="cell" id="album-color"> <%= @default_sample_album.color %></td>    
   </tr> 
   
   <tr class="row-even">   
     <td class="cell"> Max Page: </td>    
     <td class="cell" id="album-max_page"> <%= @default_sample_album.max_page %></td>     
   </tr> 
   
   <tr class="row-odd">  
     <td class="cell"> Photo Per Page: </td>     
     <td class="cell" id="album-photo_per_page"> <%= @default_sample_album.photo_per_page %></td>    
   </tr>      
      
   <tr class="row-even">  
     <td class="cell"> Photo Size: </td>    
     <td class="cell" id="album-photo_size"> <%= @default_sample_album.photo_size %></td>    
   </tr>   
   
   <tr class="row-odd">   
     <td class="cell"> Memo Field: </td>     
     <td class="cell" id="album-memo"> <%= @default_sample_album.has_memo %></td>     
   </tr>  
   
   <tr class="row-even">   
     <td class="cell"> Number in Stock: </td>    
     <td class="cell" id="album-number_in_stock"> <%= @default_sample_album.number_in_stock %></td>    
   </tr> 
   
   <tr class="row-odd">  
     <td class="cell"> Album Price: </td>     
     <td class="cell" id="album-price"> <%= @default_sample_album.price %></td>   
   </tr>               
</table>