.container.album-photos-index
  .row.well-sm.album-page-header.text-left
    %h1
      = @album.name
      = link_to @album, class: 'btn btn-success' do
        %i.glyphicon.glyphicon-info-sign
        %span
          Album Summary
      = link_to view_only_album_path(@album), class: 'btn btn-success', id: 'view-only-btn' do
        %i.glyphicon.glyphicon-book
        %span
          View-Only-Mode
  .row
    .col-md-8.col-xs-8
      = link_to album_photos_path(@album), title: "click to open album" do
        .front-cover-background
          = image_tag(@album.sample_album.avatar.url, class: "img-responsive", alt: "click to open album", id: "album-front-cover-background")
      %p.text-center click on the album to open
    -if @album.sample_album.has_front_cover
      .col-md-4.col-xs-4
        #front-cover-picture-div{update_url: "#{update_front_cover_album_path(@album)}", "style" => "background:url('#{@album.front_cover}') center center / 100% no-repeat", data: {"front-cover-width" => @album.sample_album.front_cover_width_percentage, "front_cover_height" => @album.sample_album.front_cover_height_percentage}}
      %p Drop a Picture here to replace your Front cover
      %p You can move the picture to Preview it
      .right-panel.panel.panel-info.panel-portrait
        = link_to "#", class: "btn btn-info photo-box-top-btn" do
          Photo-Box
          %span.badge#badge-top
            = @pictures.count
        .panel-body.photo-box-content
          - @pictures.each do |picture|
            - if picture.context.portrait
              = image_tag(picture.context.portrait.url, class: "img-responsive draggable-photo thumbnail portrait-img", id: "picture_id_" + picture.id.to_s,"data-picture": picture.id)