.container.albums-index
  .albums-index-header
    %h1
      My Albums
      =link_to new_album_path, class: 'btn btn-success' do
        %i.glyphicon.glyphicon-check
        %span
          New Album
  .row.albums-index-list
    - @albums.each do |album|
      .col-md-4
        %p.album-index-album-name
          = album.name

          = link_to album do
            .thumbnail
              = image_tag(album.sample_album.avatar.url, class: "img-responsive")

        .well.well-sm.album-index-album-description
          = album.description
    .col-md-12.text-center
      = paginate @albums