.container.albums-index
  .albums-index-header
    %h1
      My Albums
      =link_to "New Album", new_album_path, class: 'btn btn-success'
  .row.albums-index-list
    - @albums.each do |album|
      .col-md-4
        %p.album-index-album-name
          = album.name

          = link_to album do
            .thumbnail
              = image_tag(album.sample_album.avatar.url, class: "img-responsive")

        .well.well-sm.album-index-album-description
          = album.description
    .col-md-12.text-center
      = will_paginate @albums, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0
