<h1>Create new Photo Album</h1>
  <%= form_for @album do |f| %>
  <div class="row">
    <div class="form-group">
      <div class="col-md-2">
        <%= f.label :name, "Album_name:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :name, class: 'form-control', placeholder: "enter your album name here" %>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :style, "Album_Style:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.select :style, options_for_select(@album_samples.collect{ |a| [a.name, a.style, {'data-avatar'=>a.avatar, 'data-layout' => a.album_layout}]}) %>

      <!--  <%= f.select :style, options_for_select([['Style1', 1], ['Style2', 2], ['Style3', 3], ['Style4', 4]], params[:style]),
          {}, {:class => 'span3 controls controls-row'} %> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :style, "Cover Preview:" %>
      </div>
      <div class="col-md-6">
        <%= image_tag(@album_samples.first.avatar.url, class: "img-responsive", id: "album_cover") %>
       <!--  <img id="album_cover" class="img-responsive" src="/assets/PhotoAlbums1.jpg"> -->
      </div>

      <div class="col-md-4" id="album_cover_descption">
        <h4 class="text-left"> Features </h4>
        <ul id='album_attrs'>
            <li id='album_attr'> Holds 4x6 photos </li>
            <li id='album_attr'> Memo area </li>
            <li id='album_attr'> Deluxe, rounded bookbound spine </li>
            <li id='album_attr'> Sewn cover with embroidery </li>
            <li id='album_attr'> These live, laugh, love 4x6 photo albums are ideal for people looking to protect their cherished memories </li>
        </ul>
      </div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= f.label :style, "Page Preview:" %>
      </div>
      <div class="col-md-6">
        <%= image_tag(@album_samples.first.album_layout.url, class: "img-responsive album_layout", id: "album_layout") %>
        <!-- <img class="img-responsive album_layout" src="/assets/album_page1.jpg"> -->
      </div>

      <div class="col-md-4 album_page_attrs">
        <h4> Specifications </h4>
        <table>
          <tr class="odd-row">
            <td class="cell"> Color:</td>
            <td class="cell"> White </td>
          </tr>
          <tr class="even-row">
            <td class="cell"> Capacity:</td>
            <td class="cell"> 100 pages, 200 photos</td>
          <tr class="odd-row">
            <td class="cell"> Color:</td>
            <td class="cell"> White </td>
          </tr>
          <tr class="even-row">
            <td class="cell"> Capacity:</td>
            <td class="cell"> 100 pages, 200 photos</td>
        </table>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Cancel", albums_path, class: 'btn btn-danger' %>
    </div>
  <% end %>

