= include_gon
.outer-container
  .container
    .album-new-content
      %h1 Create New Photo Album
      = form_for @album do |f|
        .form-group.row
          .col-md-12
            = f.label :name, "Album Name:"
          .col-md-9.text-left.form-input
            = f.text_field :name, class: 'form-control', placeholder: "enter your album name here"
        .row
          .col-md-12
            = f.label :style, "Choose an Album Style:"
          .col-md-9.text-left.form-input
            = f.select :style, options_for_select(@sample_albums.collect{ |a| [a.name, a.id]})
        .row.cover-preview
          .col-md-12
            = f.label :style, "Cover Preview:"
          .col-md-1
          .col-md-6
            = image_tag(@default_sample_album.avatar.url, class: "img-responsive", id: "album_cover")
            / <img id="album_cover" class="img-responsive" src="/assets/PhotoAlbums1.jpg">
          #album_cover_descption.col-md-4
            %h2.text-left.album-summary-title About this Album:
            %div
              %p#album_description.text-left
                = @default_sample_album.description
            %h2.text-left.album-summary-title Features:
            #album_features
              = @default_sample_album.format_features.html_safe
        .row.page-preview
          .col-md-12
            = f.label :style, "Page Preview:"
          .col-md-1
          .col-md-6
            = image_tag(@default_sample_album.album_layout.url, class: "img-responsive album_layout", id: "album_layout")
            / <img class="img-responsive album_layout" src="/assets/album_page1.jpg">
          .col-md-4.album_page_attrs
            %h2.album-summary-title Specifications:
            #album_specifications
              = render partial: "specifications"
        .new-album-btn.text-center
          = f.submit "Create", class: 'btn btn-success'
          = link_to "Cancel", albums_path, class: 'btn btn-danger'
