<div class="outer-container">
  <div class="container">
    <div class="album-new-content">
    <h1>Create New Photo Album</h1>
    <%= form_for @album do |f| %>
      <div class="form-group row">
        <div class="col-md-2">
          <%= f.label :name, "Album Name:" %>
        </div>
        <div class="col-md-9 text-left form-input">
          <%= f.text_field :name, class: 'form-control', placeholder: "enter your album name here" %>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-2">
          <%= f.label :style, "Album Style:" %>
        </div>
        <div class="col-md-9 text-left form-input">
          <%= f.select :style, options_for_select(@sample_albums.collect{ |a| [a.name, a.id, {'data-avatar'=>a.avatar, 'data-layout' => a.album_layout,
            'data-description'=>a.description, 'data-features'=>a.format_features, 'data-specifications'=>a.format_specifications}]}) %>
        </div>
      </div>
      <div class="row cover-preview">
        <div class="col-md-2">
          <%= f.label :style, "Cover Preview:" %>
        </div>
        <div class="col-md-6">
          <%= image_tag(@default_sample_album.avatar.url, class: "img-responsive", id: "album_cover") %>
       <!--  <img id="album_cover" class="img-responsive" src="/assets/PhotoAlbums1.jpg"> -->
        </div>

        <div class="col-md-4" id="album_cover_descption">
          <h2 class="text-left album-summary-title">Description: </h2>
          <div>
            <p id='album_description' class="text-left"> <%= @default_sample_album.description %></p>
          </div>
          <h2 class="text-left album-summary-title">Features: </h2>
          <div id="album_features">
            <%= @default_sample_album.format_features.html_safe %>
          </div>
        </div>
        </div>

    <div class="row page-preview">
      <div class="col-md-2">
        <%= f.label :style, "Page Preview:" %>
      </div>
      <div class="col-md-6">
        <%= image_tag(@default_sample_album.album_layout.url, class: "img-responsive album_layout", id: "album_layout") %>
        <!-- <img class="img-responsive album_layout" src="/assets/album_page1.jpg"> -->
      </div>

      <div class="col-md-4 album_page_attrs">
        <h2 class="album-summary-title">Specifications: </h2>
        <div id="album_specifications">
          <%= @default_sample_album.format_specifications.html_safe %>
        </div>
      </div>
    </div>
    <div class="new-album-btn text-center">
      <%= f.submit "Create", class: 'btn btn-success' %>
      <%= link_to "Cancel", albums_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
    </div>
  </div>
</div>