.container
  %h1.text-center
    = @album.name
    = link_to edit_album_path, class: 'btn btn-success' do
      %i.glyphicon.glyphicon-edit
      %span
        Edit
    = link_to album_path(@album), class: 'btn btn-danger', data: {:confirm => 'Are you sure?'}, :method => :delete do
      %i.glyphicon.glyphicon-trash
      %span
        Delete
    
  .row
    .col-md-2.text-right
      %span Album Progress:
    .col-md-8
      - if @album.progress_percentage.to_f < 50     
        = render "progress_bar", type: "danger"
      - else
        = render "progress_bar", type: "success"
  .col-md-12.album-show
    .col-md-9.cover-page
      = link_to front_cover_album_path(@album), {title: "click to open album"} do
        = image_tag(@album.sample_album.avatar.url, class:"img-responsive")
    .col-md-3
      .album-show-layout
        %h4 Album Layout:
        = image_tag(@album.sample_album.album_layout.url, class:"img-responsive")
      .album-status
        %h4 Album Status:
        %table.table
          %tr
            %td Maximum Page:
            %td= @album.sample_album.max_page
          %tr
          %tr
            %td Photos Per Page:
            %td= @album.sample_album.photo_per_page
          %tr          
            %td Maximum Photos:
            %td= @album.max_photos
          %tr
            %td Photos Orientation:
            %td
              = @album.sample_album.orientation
          %tr
            %td Photo Size:
            %td= @album.sample_album.photo_size
          %tr
            %td Total Photos Inserted:
            %td= @album.pictures.count
          %tr
            %td Total Photos Remains:
            %td= @album.remains_photos
          %tr
            %td Number of Album In Stock:
            %td= @album.sample_album.number_in_stock
      = link_to new_album_order_path(@album), class: "btn btn-success" do
        %i.glyphicon.glyphicon-check
        %span
          Order this Album
      
      - if @album.orders.count > 0
        = link_to order_management_index_path, class: "btn btn-success" do
          %i.glyphicon.glyphicon-list-alt
          %span
            View Order
