<div class="container">
  <h1 class="text-center">
    <%= @album.name %>
  </h1>
  
  <div class="row">
    <div class="col-md-2 text-right">
      <span>Complete Percentage:</span>
    </div>
    <div class="col-md-8">
      <div class="album-show-progress-container">
        <div class="album-show-progress-bar" style="width: <%= @album.progress_percentage %>; background: <%= @album.progress_background %>">
          <div class="text-center progress-text"><%= @album.progress_percentage %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12 album-show">
  <div class="col-md-9 cover-page" >
    <%= link_to album_photos_path(@album), {title: "click to open album"} do %>
      <%= image_tag(@album.avatar.url, class:"img-responsive") %>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="album-show-layout">
      <h4>Album Layout:</h4>
      <%= image_tag(@album.album_layout.url, class:"img-responsive") %>
    </div>
    <div class="album-status">
      <h4> Album Status: </h4>      
      <table class="table">
        <tr>
          <td>Maximum Page:</td>
          <td><%= @album.max_page %></td>
        </tr>
        <tr>
          <td>Maximum Photos:</td>
          <td><%= @album.max_photos %></td>
        </tr>
        <tr>
          <td>Photo Size:</td>
          <td><%= @album.photo_size %></td>
        </tr>
        <tr>
          <td>Total Photos Uploaded:</td>
          <td><%= @album.pictures.count %></td>
        </tr>
        <tr>
          <td>Total Photos Inserted:</td>
          <td><%= @album.photos_inserted.count %></td>
        </tr>
        <tr>
          <td>Total Photos Remains:</td>
          <td><%= @album.remains_photos %></td>
        </tr>
      </table>
    </div>
    
    <%= link_to "Order this Album", new_album_order_path(@album), class: "btn btn-success" %>
  </div>
  </div>
  
</div>