- @orders.each do |order|
  .row.order-list
    .order-list-info.col-md-12
      .col-md-3
        .order-list-label ORDER PLACED
        .order-list-content= local_time(order.created_at)
      .col-md-3
        .order-list-label TOTAL
        .order-list-content
          $#{order.total_price}
      .col-md-3
        .order-list-label Order Status
        .order-list-content= order.status
      .col-md-3
        - if order.has_shpping_address?
          .order-list-label
            SHIP TO: #{order.shipping_address.name}
          .order-list-content= order.shipping_address.address_line1
          .order-list-content
            = order.shipping_address.city
            , #{order.shipping_address.state} #{order.shipping_address.zipcode}
        - else
          = link_to checkout_order_path(order), class: "btn btn-success" do
            %i.glyphicon.glyphicon-credit-card
            %span
              Checkout
          = link_to order_path(order), data:{confirm: "are you sure to delete this order?"}, method: :delete,class: "btn btn-danger" do
            %i.glyphicon.glyphicon-trash
            %span
              Delete
    .order-list-details.col-md-12
      .order-album-icon.col-md-4
        = image_tag(order.album.sample_album.avatar.url, class: "img-responsive")
      .order-album-details.col-md-6
        %h3 Order Details:
        %p
          Album Sample: #{order.album.sample_album.name}
        %p
          Photos Size:"#{order.album.sample_album.photo_size}"
        %p
          Photos Count: #{order.album.pictures.count}
        %div
          Order Options:
          %ul
            - if order.options
              - order.options.each do |option|
                %li= option
        %p
          Shipment: #{order.shippment}
      .order-shipping-info.col-md-2
        %h3 Tracking Info:
        %p
          Service provider:
          - if order.carrier
            = order.carrier
        %p
          Tracking number:
          - if order.track_number
            = order.track_number
        - if order.trackable?
          %p
            = link_to order.tracking_link, class: "btn btn-success", target: "_blank" do
              %i.glyphicon.glyphicon-plane
              %span
                Track package
        %p
          = link_to album_path(order.album), class: "btn btn-success" do
            %i.glyphicon.glyphicon-search
            %span
              View this Album
