.container
  %h1 Manager Order Edit
  .col-md-12
    .col-md-4
      = image_tag(@order.album.sample_album.avatar, class: "img-responsive")
    .col-md-4
      %h3 Order Details:
      %p
        Album Total: $#{@order.total_price}
      %p
        Album Sample: #{@order.album.sample_album.name}
      %p
        Photos Size:"#{@order.album.photo_size}"
      %p
        Photos Count: #{@order.album.pictures.count}
      %div
        Order Options:
        %ul
          - if @order.options
            - @order.options.each do |option|
              %li= option
      %p
        Shipment: #{@order.shippment}
      %p
        - if @order.has_shpping_address?
          .order-list-label
            SHIP TO: #{@order.shipping_address.name}
          .order-list-content= @order.shipping_address.address_line1
          .order-list-content
            = @order.shipping_address.city
            , #{@order.shipping_address.state} #{@order.shipping_address.zipcode}
        - else
          no shipping address yet
    .col-md-4
      %h3 Updatable Features
      = form_for(@order, url: order_management_edit_path(@order)) do |f|
        = f.label :carrier
        = f.text_field :carrier
        = f.label :track_number
        = f.text_field :track_number
        = f.label :status
        = f.select(:status, [["Pending", "Pending"], ["Submitted", "Submitted"], ["In Progress", "In Progress"], ["Shipped", "Shipped"], ["Delivered", "Delivered"], ["Request Cancelation", "Request Cancelation"],["Cancel", "Cancel"]])
        %p
          Download Album Photos:
          \#{link_to "Download Photos", order_management_download_path(@order), class: "btn btn-success"}
        %p
          = f.submit "Update", class: "btn btn-success"
          = link_to "Cancel", order_management_admin_index_path, class: "btn btn-danger"
