<%= form_for @sample_album do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :name, "Album Name:" %>
      </div>
      <div class="col-md-10 text-left">
          <%= f.text_field :name, class: 'form-control', placeholder: "enter album name" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :description, "Album Description:" %>
      </div>
      <div class="col-md-10 text-left">
          <%= f.text_field :description, class: 'form-control', placeholder: "enter description" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :color, "Album Color:" %>
      </div>
      <div class="col-md-10 text-left">
          <%= f.text_field :color, class: 'form-control', placeholder: "enter color" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :features, "Album Description:" %>
      </div>
      <div class="col-md-10 text-left">
          <%= f.text_field :features, class: 'form-control', placeholder: "enter features, separated by ," %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :has_memo, "Has_memo:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.check_box :has_memo, {class: 'form-control', placeholder: "enter style number"}, true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :number_in_stock, "Number_in_stock:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :number_in_stock, class: 'form-control', placeholder: "enter number in stock" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :price, "Album Price:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :price, class: 'form-control', placeholder: "enter Album Price" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :max_page, "Max Page:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :max_page, class: 'form-control', placeholder: "enter max page" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :photo_per_page, "Photos Per Page:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :photo_per_page, class: 'form-control', placeholder: "enter photos per page" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :orientation, "Album Photo Orientation:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.text_field :orientation, class: 'form-control', placeholder: "enter photos orientation" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :avatar, "Album Avatar:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.file_field :avatar %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :album_layout, "Album Layout:" %>
      </div>
      <div class="col-md-10 text-left">
        <%= f.file_field :album_layout %>
      </div>
    </div>
  </div>

    <div class="text-left">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Cancel", sample_albums_path, class: 'btn btn-danger' %>
    </div>
  <% end %>