<h1> Sample Album Management 
<%= link_to 'New', new_sample_album_path, class: 'btn btn-success' %>
</h1>

<% @sample_albums.each do |album| %>
  <div class="row sample_album_block">
    <div class="col-md-3">
      <h4> Album Cover </h4>
      <%= image_tag(album.avatar, class: "img-responsive") %>
    </div>

    <div class="col-md-3">
      <h4> Album Layout </h4>
      <%= image_tag(album.album_layout, class: "img-responsive") %>
    </div>

    <div class="col-md-6 text-left">
      <div class="row">
        <%= link_to 'Edit', edit_sample_album_path(album), class:'btn btn-success' %>
        <%= link_to 'Delete', sample_album_path(album), method: :delete, data:{confirm: "are you sure?"},class:'btn btn-danger' %>
        <p> Album Name: <%= album.name%> </p>
      </div>
      <div class="row">
        <p> Description: <%= album.description %> </p>
        <p> Features: <%= album.features %> </p>
        <p> Color: <%= album.color %> </p>
        <p> Has memo: <%= album.has_memo %> </p>
        <p> Orientation: <%= album.orientation %> </p>
        <p> Max page: <%= album.max_page %> </p>
        <p> Photos per page: <%= album.photo_per_page %> </p>
        <p> Photo size: <%= album.photo_size %> </p>
        <p> Price: <%= album.price %> </p>
        <p> Number in stock: <%= album.number_in_stock %> </p>
      </div>
    </div>
  </div>
  
<% end %>

<%= will_paginate @sample_albums %>