.container
  %h1
    Sample Album Management
    = link_to 'New', new_sample_album_path, class: 'btn btn-success'
  - @sample_albums.each do |album|
    .row.sample_album_block
      .col-md-3
        %h4 Album Cover
        = image_tag(album.avatar, class: "img-responsive")
      .col-md-3
        %h4 Album Layout
        = image_tag(album.album_layout, class: "img-responsive")
      .col-md-6.text-left
        .row
          = link_to 'Edit', edit_sample_album_path(album), class:'btn btn-success'
          = link_to 'Delete', sample_album_path(album), method: :delete, data:{confirm: "are you sure?"},class:'btn btn-danger'
          %p
            Album Name: #{album.name}
        .row
          %p
            Description: #{album.description}
          %p
            Features: #{album.features}
          %p
            Color: #{album.color}
          %p
            Has memo: #{album.has_memo}
          %p
            Orientation: #{album.orientation}
          %p
            Max page: #{album.max_page}
          %p
            Photos per page: #{album.photo_per_page}
          %p
            Photo size: #{album.photo_size}
          %p
            Price: #{album.price}
          %p
            Number in stock: #{album.number_in_stock}
  = will_paginate @sample_albums, renderer: BootstrapPagination::Rails
