= form_tag mass_delete_pictures_path, class: "row", id: "pictures-form", method: :delete, remote: true do
  .pictures#pictures
    - pictures.each do |picture|
      .col-md-4.col-xs-6.thumbnail
        = label_tag "picture_ids_#{picture.id}", image_tag(picture.context.url, class: "img-responsive")
        = check_box "picture", "ids", {:multiple => true}, picture.id, nil
        - if picture.context.file
          = picture.context.file.filename
        - else
          %p Unknown file