= form_for [@album, @photo] do |f|
  .row
    .col-md-10.picture
      = image_tag(@photo.picture.thumb.url, class: "img-responsive", id: "photo_picture_cropbox")
  .row
    = f.label :memo, "Memo:"
    = f.text_area :memo, size: "15x22"
    = f.previewbox :picture, width: 200, height: 200, version: :thumb
    = f.submit 'Crop'
