<h1> <%= @album.name %> </h1>
<p>Edit Photo</p>

<%= form_for [@album, @photo] do |f| %>

  <div class="row photo-page">
    <div class="col-md-2 memo">
      <%= f.label :memo, "Memo:" %>
      <%= f.text_area :memo, size: "15x22" %>
    </div>

    <div class="col-md-10 picture">
       <%= image_tag(@photo.picture.url, class: "img-responsive")%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div>
<% end %>