.container.album-photos-index
  .row.album-page-header.text-left
    %h1
      = @album.name
      = link_to "Album Summary", @album, class: 'btn btn-success'
      = link_to "Upload Photos", new_picture_path, class: 'btn btn-success'
      = link_to "Save Album", album_photos_path+"?page="+"#{@photos.current_page}", class: 'btn btn-success', id: 'update_photos', remote: true
    %p
      current page: #{@photos.current_page}
  
  - if @photos.current_page%2 == 1
    .row.well.photo-page-right
      - @photos.each do |photo|
        - if @album.orientation == "landscape"
          = render 'landscape_page_right', :album => @album, :photo => photo
        - else
          = render 'portrait_page_right', :album => @album, :photo => photo
  - else
    .row.well.photo-page-left
      - @photos.each do |photo|
        - if @album.orientation == "landscape"
          = render 'landscape_page_left', :album => @album, :photo => photo
        - else
          = render 'portrait_page_left', :album => @album, :photo => photo

  .row.right-panel.panel.panel-info
    = link_to "#", class: "btn btn-info photo-box-top-btn" do
      Photo-Box
      %span.badge#badge-top
        = @pictures.count
    .panel-body.photo-box-content
      - @pictures.each do |picture|
        = image_tag(picture.context.url, class: "img-responsive draggable-photo", id: "picture_id_" + picture.id.to_s,"data-picture": picture.id)

  #page_links.text-center
    = will_paginate @photos, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0
.photo-box
  = link_to "#", class: "btn btn-info photo-box-btn" do
    Photo-Box
    %span.badge#badge-bottom
      = @pictures.count
    
