<h1> <%= @album.name %> </h1>
<p>Insert Photo</p>

<%= form_for [@album, @photo], :url => {:action => "insert_create"} do |f| %>

  <div class="row photo-page">
    <div class="col-md-2 memo">
      <%= f.label :memo, "Memo:" %>
      <%= f.text_area :memo, size: "15x22" %>
    </div>

    <div class="col-md-10 picture">
      <img class="img-responsive" src="http://placehold.it/900x600">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>

  <div class="form-group">
    <%= f.submit "Insert", class: 'btn btn-success' %>
  </div>
<% end %>