<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SecretAlbum</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  
    <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="alert alert-danger text-center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning text-center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>

  <div class="navigation">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to "SecretAlbum", root_url %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
        <li><%= link_to "Diaries", diaries_path %></li>
        <li><%= link_to "Albums", albums_path %></li>
        <% end %>
       </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to "My Order", "#" %></li>
        <li><a>Hello <%= current_user.name || current_user.email %>!</a></li> 
        <li><%= link_to destroy_user_session_path, method: :delete do%>
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </li>
        <% end %>
        <% else %>
          <li><%= link_to new_user_registration_path do%>
            <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
          
          <li><%= link_to new_user_session_path do%>
            <span class="glyphicon glyphicon-log-in"></span> Login
          <% end %>
          </li>
        <% end %>
      </ul>
</div>

      <%= yield %>

  <div class="footer">
    <p class="text-center footer-text">Copyright SecrectAlbum, Contact me at: ruiquanwu@gmail.com </p>
  </div>
  
</body>
</html>
