<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SecretBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <div class="navbar-brand">
          <% if current_user %>
            <%= link_to "SecretBox", welcome_path %>
          <% else %>
            <%= link_to "SecretBox", root_url %>
          <% end %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
        <li><%= link_to "Diaries", diaries_path %></li>
        <% else %>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        <% end %>
       </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a>Hello <%= current_user.name || current_user.email %>!</a></li> 
        <li><%= link_to destroy_user_session_path, method: :delete do%>
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </li>
        <% end %>
        <% else %>
          <li><%= link_to new_user_registration_path do%>
            <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
          
          <li><%= link_to new_user_session_path do%>
            <span class="glyphicon glyphicon-log-in"></span> Login
          <% end %>
          </li>
        <% end %>
      </ul>

    </div>
    
    <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
